{{render '@header'}}

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <div class="module-rich-text">
                    <h1>
                        500: Internal Server Error
                    </h1>
                    <p>
                        Beste bezoeker,<br>
                        Deze pagina werkt niet meer. We zijn hard aan het werk om de website weer aan de praat te krijgen. Heeft u ons toch nodig dan zijn wij bereikbaar via de volgende kanalen:
                    </p>
                    <p>
                        Email: <a href="mailTo:info@0000">info@0000</a> <br>
                        Telefoon: <a href="tel:+000000">013-505 00 00</a>
                    </p>
                    <p>
                        Excuses voor het ongemak
                    </p>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-5">
                        <p>
                            <img src="/dist/images/error-robot.png" width="220">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{render '@footer'}}