<div class="module-cta">
    <div class="content">
        <h2>
            Your CTA title goes here
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem autem, asperiores distinctio quos fugit sapiente fuga placeat impedit quae corporis minima quo molestiae odio quis minus rerum doloremque veritatis. Saepe.
        </p>
        <a href="javascript:void(0);" class="button alt">Ja wil ik</a>
    </div>
</div>