.previous-next-section {

    & .wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;

        & .previous-next-link {
            margin: 0 0 10px;
            text-align: center;

            & a.fancy-link {
                color: var(--jess-black);
                border: solid 1px var(--color-jess-black);
                padding: 12px;

                & .fancy-arrow svg path {
                    fill: var(--jess-black);
                }
            }

            &.previous a.fancy-link:hover .fancy-arrow{
                transform: translateX(-10px);
            }
    
            &.next {
    
            }
        }
    }
}

@media (--viewport-md-min) {
    .previous-next-section {

        & .wrap {
            flex-direction: row;

            & .previous-next-link {
                margin: 0 20px;

                & a.fancy-link {
                    border: none;
                    padding: 0;
                }
            }
        }
    }
}