<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2>
                    Form Voorbeeld Onder Elkaar
                </h2>

                <div>
                    <label for="aaaaaaaaa">Text</label>
                </div>
                <div>
                    <input type="text" id="aaaaaaaaa" name="aaaaaaaaa" required>
                </div>

                <div>
                    <label for="bbbbbbbbb">Telefoon</label>
                </div>
                <div>
                    <input type="tel" id="bbbbbbbbb" name="bbbbbbbbb" required>
                </div>

                <div>
                    <label for="ccccccccc">Email</label>
                </div>
                <div>
                    <input type="email" id="ccccccccc" name="ccccccccc" required>
                </div>

                <div>
                    <label for="ddddddddd">Textarea</label>
                </div>
                <div>
                    <textarea id="ddddddddd" name="ddddddddd" style="height: 200px"
                        placeholder="Vraag of opmerking voor de specialist"></textarea>
                </div>

                <div>
                    <label for="eeeeeeeee">Select</label>
                </div>
                <div class="custom-select">
                    <select id="eeeeeeeee" name="eeeeeeeee" required>
                        <option value="" disabled selected hidden></option>
                        <option value="1500khw">ca. 1500 kWh</option>
                        <option value="2000khw">ca. 2000 kWh</option>
                        <option value="2500khw">ca. 2500 kWh</option>
                        <option value="3000khw">ca. 3000 kWh</option>
                        <option value="3500khw">ca. 3500 kWh</option>
                        <option value="4000khw">ca. 4000 kWh</option>
                    </select>
                </div>

                <div>
                    <label>Radio button</label>
                </div>
                <div class="custom-radio">
                    <input type="radio" id="xxxxxxxxx" name="xxxxxxxxx" value="xxxxxxxxx" required>
                    <label for="xxxxxxxxx">radiobutton</label>
                </div>
                <div class="custom-radio">
                    <input type="radio" id="yyyyyyyyy" name="yyyyyyyyy" value="yyyyyyyyy" required>
                    <label for="yyyyyyyyy">radiobutton</label>
                </div>

                <div class="custom-checkbox">
                    <input type="checkbox" id="zzzzzzzzz" name="zzzzzzzzz" required>
                    <label for="zzzzzzzzz">Checkbox voor bijvoorbeeld een voorwaarden of iets anders wat je
                        wilt</label>
                </div>

                <div class="custom-submit">
                    <input type="submit" value="Verzenden">
                </div>
            </div>
        </div>
    </div>
</section>