<a href="javascript:void(0);" class="fancy-link">
    Ontdekken
    <span class="fancy-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="17" viewBox="0 0 44 17">
            <path fill="rgb(16,24,32)" fill-rule="evenodd" d="M34.9529991 0l-.4670481.47602922c-.30951596.31551244-.30951596.82709236 0 1.14267213l5.54354577 5.61835677H.79261449C.35489314 7.23705812 0 7.59882686 0 8.0450285v.67330866c0 .44620164.35489314.80797039.7926145.80797039h39.23688227L34.485951 15.14466433c-.30951596.31551243-.30951596.82709235 0 1.14267212l.4670481.47602922c.30951595.31551244.81137303.31551244 1.12088899 0l7.69397494-7.81038044c.30951596-.31551243.30951596-.82709235 0-1.14267212L36.07388809 0c-.30951596-.31557977-.81137304-.31557977-1.120889 0z"/>
        </svg>
    </span>
</a>