<section class="pdp-image-gallery">
    <div class="container">
        <div class="wrap">
            <h2 class="default-heading">
                Bekijk alle fotos
            </h2>
            <div class="pdp-collage-grid pdp-gallery">

                <figure class="pdp-media">
                    <a href="/dist/images/productsfeer66.jpg" data-size="1920x1080"> {{!-- De data-size is de afmeting van de ahref image size --}}
                        <img src="/dist/images/productsfeer66.jpg" alt="foto">
                    </a>
                </figure>

                <figure class="pdp-media">
                    <a href="/dist/images/instagram2.jpg" data-size="1920x1080">
                        <img src="/dist/images/instagram2.jpg" alt="foto">
                    </a>
                </figure>

                <figure class="pdp-media">
                    <a href="/dist/images/instagram3.jpg" data-size="1920x1080">
                        <img src="/dist/images/instagram3.jpg" alt="foto">
                    </a>
                </figure>

                <figure class="pdp-media">
                    <a href="/dist/images/instagram3.jpg" data-size="1920x1080">
                        <img src="/dist/images/instagram3.jpg" alt="foto">
                    </a>
                </figure>

                <figure class="pdp-media">
                    <a href="/dist/images/instagram3.jpg" data-size="1920x1080">
                        <img src="/dist/images/instagram3.jpg" alt="foto">
                    </a>
                </figure>

            </div>
        </div>
    </div>
</section>


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
