<div class="module-card">
    <div class="content">
        <h2>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptates ipsam quis repellendus. Officiis atque repellat voluptatem, maxime itaque temporibus sed qui perspiciatis est ipsa cupiditate inventore. Odio, qui quos?
        </p>
        <a href="javascript:void(0);" class="button">
            Lorem
        </a>
    </div>
</div>