<div class="module-rich-text">
    <h2>
        Lorem ipsum dolor, sit amet consectetur
    </h2>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse laboriosam architecto quis dicta aut cupiditate velit eos nostrum ut nisi deserunt, ipsa voluptatem aliquid labore, a cum aspernatur ea neque!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, cupiditate tempora? Tenetur rem cum dolorum beatae doloribus. Nihil harum reiciendis non reprehenderit eum totam a ratione, vero expedita autem dolore.
    </p>
</div>