<div class="module-quote">
    <blockquote>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus pariatur animi aperiam facilis placeat hic asperiores.
        </p>
	    <span class="author">
            Joost peter meijers, 2019
        </span>
    </blockquote>
</div>