<div class="collectie-overzicht">
    <ul>
        <li>
            <a href="javascript:void(0);">
                Stoelen
                <img src="https://via.placeholder.com/100x40" alt="alt foto">
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                Barstoelen
                <img src="https://via.placeholder.com/100x40" alt="alt foto">
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                Banken
                <img src="https://via.placeholder.com/100x40" alt="alt foto">
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                Eetbanken
                <img src="https://via.placeholder.com/100x40" alt="alt foto">
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                Fauteuils
                <img src="https://via.placeholder.com/100x40" alt="alt foto">
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                Outdoor
                <img src="https://via.placeholder.com/100x40" alt="alt foto">
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                Tafels
                <img src="https://via.placeholder.com/100x40" alt="alt foto">
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                Hockers
                <img src="https://via.placeholder.com/100x40" alt="alt foto">
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                Kussens
                <img src="https://via.placeholder.com/100x40" alt="alt foto">
            </a>
        </li>
    </ul>
</div>

{{render '@footer'}}