{{render '@header'}}

<div class="collectie-overzicht">
    <div class="co-wrap">
        <ul class="navigation-links">
            <a href="javascript:void(0);">
                <li>
                    Stoelen
                    <span class="navBackImage">
                        <img src="/dist/images/hps2.jpg" alt="alt foto">
                    </span>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    Barstoelen
                    <span class="navBackImage">
                        <img src="/dist/images/hps1.jpg" alt="alt foto">
                    </span>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    Banken
                    <span class="navBackImage">
                        <img src="/dist/images/hps3.jpg" alt="alt foto">
                    </span>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    Eetbanken
                    <span class="navBackImage">
                        <img src="/dist/images/hps4.jpg" alt="alt foto">
                    </span>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    Fauteuils
                    <span class="navBackImage">
                        <img src="/dist/images/hps5.jpg" alt="alt foto">
                    </span>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    Outdoor
                    <span class="navBackImage">
                        <img src="/dist/images/hps1.jpg" alt="alt foto">
                    </span>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    Tafels
                    <span class="navBackImage">
                        <img src="/dist/images/hps2.jpg" alt="alt foto">
                    </span>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    Hockers
                    <span class="navBackImage">
                        <img src="/dist/images/hps3.jpg" alt="alt foto">
                    </span>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    Kussens
                    <span class="navBackImage">
                        <img src="/dist/images/hps4.jpg" alt="alt foto">
                    </span>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    Global balance
                    <span class="navBackImage">
                        <img src="/dist/images/hps5.jpg" alt="alt foto">
                    </span>
                </li>
            </a>
        </ul>
    </div>

    <div class="hover-images"></div>
</div>


{{render '@footer'}}