<div class="module-image">
    <figure>
        <img 
            src="https://via.placeholder.com/800x600/FF0000" 
            srcset="https://via.placeholder.com/450x338/00FF00 450w, https://via.placeholder.com/960x720/0000FF 960w, https://via.placeholder.com/1500x1125/FFFF00 1500w"
            sizes="(min-width: 992px) 50vw, 100vw"
            alt="404">
    </figure>
</div>