<section class="hero" data-aos="fade">
    <div class="img-wrap">
        <picture>
            <source media="(min-width:992px)" srcset="/dist/images/JessDesignHeroDesktop.jpg">
            <source media="(min-width:768px)" srcset="/dist/images/JessDesignHeroMobile.jpg">
            <img src="/dist/images/JessDesignHeroMobile.jpg" alt="Flowers">
        </picture>
    </div>

    <div class="hero-content">
        <div class="wrap">
            <h1>
                Jess Design
            </h1>
            <h2>
                Join our world
            </h2>
            <p>
                <a href="javascript:void(0);" class="button">
                    Bekijk collectie
                </a>
                <a href="javascript:void(0);" class="button button--alt">
                    Bekijk collectie
                </a>
            </p>
        </div>
    </div>

    <div class="hero-scroll-down">
        <span class="hsd-arrow"></span>
        <span class="hsd-text">
            Ontdek
        </span>
    </div>

    <span class="hero-scroll-anchor"></span>
</section>