<div class="module-accordeon">
    <button class="accordion">Materials</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>

<div class="module-accordeon">
    <button class="accordion">Augmented reality</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <ul>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum fuga nostrum quos amet, voluptatum quaerat unde saepe, nemo dolor minima voluptates exercitationem, consequuntur ab iusto! Illo harum a quas at!
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam commodi labore reprehenderit nulla, facilis quae optio! Amet dolor quae quisquam ut nulla blanditiis earum. Alias recusandae reprehenderit dolorum repellat veniam!
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nostrum, cum minima veritatis consequuntur optio mollitia ullam laboriosam itaque suscipit praesentium quaerat possimus architecto a illum maxime ipsum repudiandae quis.
            </li>
        </ul>
    </div>
</div>

<div class="module-accordeon">
    <button class="accordion">Downloads</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
