.module-accordeon {

    .accordion {
        /* background-color: var(--color-gray-light); */
        background-color: transparent;
        color: var(--color-jess-black);
        font-family: var(--base-font-family);
        cursor: pointer;
        padding: 18px 0;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.4s;
        /* font-weight: bold; */

        &:hover,
        &.active {
            /* background-color: var(--color-primary); */
            /* color: var(--color-primary-offset); */
        }

        &:after {
            content: '\002B';
            color: var(--color-secondary);
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        &:hover:after {
            /* color: var(--color-primary-offset); */
        }

        &.active:after {
            content: "\2212";
            /* color: var(--color-primary-offset); */
        }
    }
        
    .panel {
        padding: 0 18px;
        /* background-color: white; */
        max-height: 0;
        overflow: hidden;
        border-bottom: solid 1px var(--color-jess-black);
        transition: max-height 0.2s ease-out;
    }
}