<section class="home-projecten-showcase">
    <div class="container">
        <div class="wrap">
            <div class="images">
                <div class="hps-images-top">
                    <div class="hps-image hps-image-1">
                        <div class="hps-image-zoom-fix">
                            <a href="javascript:void(0);">
                                <img src="/dist/images/hps1.jpg" alt="Flowers">
                            </a>
                        </div>
                    </div>
                    <div class="hps-image hps-image-2">
                        <div class="hps-image-zoom-fix">
                            <a href="javascript:void(0);">
                                <img src="/dist/images/hps2.jpg" alt="Flowers">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="hps-images-bottom">
                    <div class="hps-images-left">
                        <div class="hps-image hps-image-3">
                            <div class="hps-image-zoom-fix">
                                <a href="javascript:void(0);">
                                    <img src="/dist/images/hps3.jpg" alt="Flowers">
                                </a>
                            </div>
                        </div>
                        <div class="hps-image hps-image-4">
                            <div class="hps-image-zoom-fix">
                                <a href="javascript:void(0);">
                                    <img src="/dist/images/hps4.jpg" alt="Flowers">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="hps-images-right">
                        <div class="hps-image hps-image-5">
                            <div class="hps-image-zoom-fix">
                                <a href="javascript:void(0);">
                                    <img src="/dist/images/hps5.jpg" alt="Flowers">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <span class="super-heading">
                    Projecten
                </span>
                <h2 class="default-heading">
                    Raak <br><span class="orange-text">geïnspireerd</span>
                </h2>
                <div class="default-content">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet maiores velit repudiandae tempore odit perferendis vitae sunt in, odio consequatur, expedita quisquam similique! Placeat voluptatibus dicta sequi laborum dolore incidunt?
                    </p>
                    <p>
                        <a href="javascript:void(0);" class="button alt">Ontdekken</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>