.cta-big {
    margin: 0;
    background-color: var(--color-gray-light);
    padding: 60px 0 0;

    &.cb-background-white {
        background-color: var(--color-white);
    }

    & .ctab-wrap {
        display: flex;
        flex-direction: column;

        & .ctab-content {
            align-self: center;
            margin: 0 var(--half-gutter-width);
        }

        & .ctab-image {
            padding-left: var(--half-gutter-width);

            & img {
                display: block;
                width: 100%;
            }
        }
    }
}

@media (--viewport-ms-min) {
    .cta-big .ctab-wrap .ctab-content {
        max-width: var(--container-max-width-ms);
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media (--viewport-sm-min) {
    .cta-big .ctab-wrap .ctab-content {
        max-width: var(--container-max-width-sm);
    }
}

@media (--viewport-md-min) {
    .cta-big {
        margin: 0;
        padding: 0;
        background-color: var(--color-gray-light);
    
        & .ctab-wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /* margin-left: var(--half-gutter-width); */
            margin-left: calc((100% - var(--container-max-width-md)) / 2);
    
            & .ctab-content {
                align-self: center;
                width: 420px;
                max-width: unset;
                margin: 60px 20px 40px;
                padding: 0;
            }
    
            & .ctab-image {
                width: calc(100% - 420px);
                padding-left: 40px;
                align-self: flex-end;
            }
        }
    }
}

@media (--viewport-lg-min) {
    .cta-big .ctab-wrap {
        margin-left: calc((100% - var(--container-max-width-lg)) / 2);
    }
}

@media (--viewport-xl-min) {
    .cta-big .ctab-wrap {
        margin-left: calc((100% - var(--container-max-width-xl)) / 2);

        & .ctab-image {
            padding-left: 60px;
        }
    }
}

@media (--viewport-xxl-min) {
    .cta-big .ctab-wrap {
        margin-left: calc((100% - var(--container-max-width-xxl)) / 2);
    
        & .ctab-content {
            align-self: center;
            width: 520px;
            margin: 80px 20px 60px;
        }

        & .ctab-image {
            width: calc(100% - 520px);
            padding-left: 80px;
        }
    }
}

/* @media (min-width: 1540px) {
    .cta-big {
    
        & .ctab-wrap {
            margin-left: calc((100% - 1400px) / 2);
    
            & .ctab-content {
                align-self: center;
                width: 520px;
                margin: 80px 0 60px;
            }
    
            & .ctab-image {
                width: calc(100% - 520px);
                padding-left: 80px;
            }
        }
    }
} */