<section class="overzicht-page-title">
    <div class="container">
        <div class="wrap">
            <div class="content">
                <h1 class="default-heading">
                    Banken
                </h1>
                <p>
                    Intro tekst over banken
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam perferendis deleniti nobis recusandae esse officiis porro? Molestias, repellat aspernatur error quaerat placeat dolor maxime repudiandae? Fugit eos dignissimos adipisci ducimus.
                </p>
            </div>
        </div>
    </div>
</section>