<a href="javascript:void(0);" class="button">Link Button</a>

<a href="javascript:void(0);" class="button button--alt">Link Button</a>

<a href="javascript:void(0);" class="button button--border">Link Button</a>
