<div class="module-fotoboek">
    <a href="#img1" class="target-photo">
        <figure>
            <img 
                src="https://via.placeholder.com/800x600/FF0000" 
                srcset="https://via.placeholder.com/450x338/00FF00 450w, https://via.placeholder.com/960x720/0000FF 960w, https://via.placeholder.com/1500x1125/FFFF00 1500w"
                sizes="(min-width: 992px) 50vw, 100vw"
                alt="404">
        </figure>
    </a>

    <a href="#_" class="lightbox" id="img1">
        <figure>
            <img 
                src="https://via.placeholder.com/800x600/FF0000" 
                srcset="https://via.placeholder.com/450x338/00FF00 450w, https://via.placeholder.com/960x720/0000FF 960w, https://via.placeholder.com/1500x1125/FFFF00 1500w"
                sizes="(min-width: 992px) 50vw, 100vw"
                alt="404">
        </figure>
    </a>
</div>

{{!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="module-fotoboek">
                    <a href="#img1" class="target-photo">
                        <figure>
                            <picture>
                                <source media="(min-width: 992px)"
                                    srcset="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg">
                                <img src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg"
                                    alt="Flowers">
                            </picture>
                        </figure>
                    </a>

                    <a href="#_" class="lightbox" id="img1">
                        <figure>
                            <picture>
                                <source media="(min-width: 992px)"
                                    srcset="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg">
                                <img src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg"
                                    alt="Flowers">
                            </picture>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="module-fotoboek">
                    <a href="#img2" class="target-photo">
                        <figure>
                            <picture>
                                <source media="(min-width: 992px)"
                                    srcset="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
                                <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                    alt="Flowers">
                            </picture>
                        </figure>
                    </a>

                    <a href="#_" class="lightbox" id="img2">
                        <figure>
                            <picture>
                                <source media="(min-width: 992px)"
                                    srcset="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
                                <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                    alt="Flowers">
                            </picture>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="module-fotoboek">
                    <a href="#img3" class="target-photo">
                        <figure>
                            <picture>
                                <source media="(min-width: 992px)"
                                    srcset="https://cdn.vox-cdn.com/thumbor/_AjHymGfQPg_6IyQgE-jDM_E5fQ=/1400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/16019250/log_2048.png">
                                <img src="https://cdn.vox-cdn.com/thumbor/_AjHymGfQPg_6IyQgE-jDM_E5fQ=/1400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/16019250/log_2048.png"
                                    alt="Flowers">
                            </picture>
                        </figure>
                    </a>

                    <a href="#_" class="lightbox" id="img3">
                        <figure>
                            <picture>
                                <source media="(min-width: 992px)"
                                    srcset="https://cdn.vox-cdn.com/thumbor/_AjHymGfQPg_6IyQgE-jDM_E5fQ=/1400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/16019250/log_2048.png">
                                <img src="https://cdn.vox-cdn.com/thumbor/_AjHymGfQPg_6IyQgE-jDM_E5fQ=/1400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/16019250/log_2048.png"
                                    alt="Flowers">
                            </picture>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="module-fotoboek">
                    <a href="#img4" class="target-photo">
                        <figure>
                            <picture>
                                <source media="(min-width: 992px)"
                                    srcset="https://images.pexels.com/photos/1167160/pexels-photo-1167160.jpeg">
                                <img src="https://images.pexels.com/photos/1167160/pexels-photo-1167160.jpeg"
                                    alt="Flowers">
                            </picture>
                        </figure>
                    </a>

                    <a href="#_" class="lightbox" id="img4">
                        <figure>
                            <picture>
                                <source media="(min-width: 992px)"
                                    srcset="https://images.pexels.com/photos/1167160/pexels-photo-1167160.jpeg">
                                <img src="https://images.pexels.com/photos/1167160/pexels-photo-1167160.jpeg"
                                    alt="Flowers">
                            </picture>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> --}}