<div class="header">
    <div class="container">
        <div class="wrapper">

            <div class="header-logo">
                <a href="javascript:void(0);">
                    <img src="https://via.placeholder.com/400x80/f2aa4c">
                </a>
            </div>

            <div class="header-links">
                <a href="javascript:void(0);">
                    <span class="header-link active">
                        Home
                    </span>
                </a>
                <a href="javascript:void(0);">
                    <span class="header-link">
                        Diensten
                    </span>
                </a>
                <a href="javascript:void(0);">
                    <span class="header-link">
                        Over ons
                    </span>
                </a>
                <a href="javascript:void(0);">
                    <span class="header-link">
                        Contact
                    </span>
                </a>
            </div>

            <div class="header-hamburger">
                <a id="hamburger" href="javascript:void(0);">
                    <div id="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>

            <div class="header-mobile-fix"></div>

        </div>
    </div>
</div>

<div class="header-fix"></div>
