.image-text {

    &.reverse {

        & .wrap {
            flex-direction: column;
        }
    }

    & .wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: var(--site-width);
        padding-right: var(--half-gutter-width);
        padding-left: var(--half-gutter-width);
        margin-right: auto;
        margin-left: auto;
    
        & .content {
            align-self: center;
            width: 100%;
            padding: 0px;
            margin-bottom: 30px;
        }
        
        & .image {
            align-self: center;
            width: 100%;
        }
    }
}

@media (--viewport-ms-min) {
    .image-text .wrap {
        max-width: var(--container-max-width-ms);
    }
}

@media (--viewport-sm-min) {
    .image-text .wrap {
        max-width: var(--container-max-width-sm);
    }
}

@media (--viewport-md-min) {
    .image-text {

        &.reverse {
    
            & .wrap {
                flex-direction: row-reverse;

                & .content {
                    padding: 20px 40px 20px 60px;
                }
            }
        }

        & .wrap {
            max-width: var(--container-max-width-md);
            flex-direction: row;
        
            & .content {
                width: 50%;
                padding: 20px 60px 20px 40px;
                margin: 0;
            }
            
            & .image {
                width: 50%;
            }
        }
    }
}

@media (--viewport-lg-min) {
    .image-text {

        &.reverse {
    
            & .wrap {

                & .content {
                    padding: 20px 40px 20px 100px;
                }
            }
        }

        & .wrap {
            max-width: var(--container-max-width-lg);
        
            & .content {
                padding: 20px 100px 20px 40px;
            }
        }
    }
}

@media (--viewport-xl-min) {
    .image-text {

        &.reverse .wrap .content {
            padding: 20px 40px 20px 120px;
        }

        & .wrap {
            max-width: var(--container-max-width-xl);
        
            & .content {
                padding: 20px 120px 20px 40px;
            }
        }
    }
}

@media (--viewport-xxl-min) {
    .image-text {

        &.reverse .wrap .content {
            padding: 20px 40px 20px 160px;
        }

        & .wrap {
            max-width: var(--container-max-width-xxl);
        
            & .content {
                padding: 20px 160px 20px 40px;
            }
        }
    }
}