<section class="image-text reverse" data-aos="fade">
    <div class="wrap">
        <div class="content">
            <span class="super-heading">
                Say Jess
            </span>
            <h2 class="default-heading">
                Dit is <span class="orange-text">Jess</span>
            </h2>
            <div class="default-content">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet maiores velit repudiandae tempore odit perferendis vitae sunt in, odio consequatur, expedita quisquam similique! Placeat voluptatibus dicta sequi laborum dolore incidunt?
                </p>
                <p>
                    {{!-- <a href="javascript:void(0);" class="button alt">Ontdekken</a> --}}
                    {{render '@fancy-link'}}
                </p>
            </div>
        </div>
        <div class="image">
            <figure>
                <picture>
                    <source media="(min-width:992px)" srcset="/dist/images/JessDesignHeroDesktop.jpg">
                    <source media="(min-width:768px)" srcset="/dist/images/JessDesignHeroDesktop.jpg">
                    <img src="/dist/images/JessDesignHeroDesktop.jpg" alt="Flowers">
                </picture>
            </figure>
        </div>
    </div>
</section>