<footer class="footer">
    <div class="top-footer">
        <div class="container">
            <div class="wrap">
                <div class="content">
                    <span class="super-heading">
                        #Jessdesign
                    </span>
                    <h2 class="default-heading">
                        Laat je <span class="orange-text">inspireren</span>
                    </h2>
                    <div class="default-content">
                        <p>
                            Gebruik #jessdesign om inspiratie te delen en op te doen
                        </p>
                    </div>
                </div>
                <div class="social-links">
                    <div class="social-icons">
                        <a href="javascript:void(0);">
                            <div class="si-icons si-facebook">
                                <svg xmlns="http://www.w3.org/2000/svg" width="107.23" height="200" viewBox="0 0 107.23 200">
                                    <path fill="rgb(0,0,0)" fill-rule="evenodd" d="M100.20265543 112.5l5.56051419-36.1953125H70.99626974V52.81640625c0-9.90234375 4.85665163-19.5546875 20.4276555-19.5546875h15.8056247V2.4453125S92.88639521 0 79.17280642 0c-28.6315646 0-47.34648788 17.3359375-47.34648788 48.71875v27.5859375H0V112.5h31.82631854V200h39.1699512v-87.5h29.2063857z"/>
                                </svg>
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <div class="si-icons si-instagram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="200.21" height="200" viewBox="0 0 200.21 200">
                                    <path fill="rgb(0,0,0)" fill-rule="evenodd" d="M199.50681307 58.76382681c-.7595103-16.02137639-4.42170355-30.2131066-16.16873359-41.90556453-11.70191061-11.6925753-25.9051293-15.35210242-41.94038458-16.1553016-16.52592903-.93724178-66.05859669-.93724178-82.58452572 0-15.99013586.75859656-30.19335454 4.41812368-41.94038458 16.11058161C5.12575456 28.5061176 1.50774075 42.69773043.70405101 58.7192242c-.93810802 16.5122399-.93810802 66.00459173 0 82.516949.7595103 16.02137639 4.42170355 30.2131066 16.16873359 41.90556453 11.74703004 11.6925753 25.9051293 15.35210242 41.94038458 16.1553016 16.52592903.93724178 66.05859669.93724178 82.58452572 0 16.03525529-.75859656 30.23847397-4.41812368 41.94038458-16.1553016 11.70191061-11.69245793 15.36504385-25.88418814 16.16873359-41.90556453.93810802-16.51235727.93810802-65.9599891 0-82.47234638zm-40.37718454 119.20107328c8.79828768-3.5256019 15.54270158-10.26447003 19.0272371-19.01151217 4.48186278-11.25370906 4.23276596-35.86977445 4.07108802-51.8271813-.02725965-2.64716515-.05169934-5.05605845-.05169934-7.12620662 0-2.0705003.0244397-4.47904147.05169934-7.125385.16167794-15.94895582.41077476-40.53649901-4.07108802-51.8281203-3.52871496-8.79164475-10.27312886-15.53051288-19.0272371-19.01151217-11.29865576-4.4541579-36.05511972-4.21694242-52.0208159-4.06388502-2.59060692.02476618-4.9499768.04741962-6.98223086.04741962-2.07173355 0-4.48186278-.02441407-7.13074897-.05117563-15.96193623-.1616258-40.56988208-.41081356-51.8713578 4.06764103-8.79828768 3.5256019-15.54270158 10.26447003-19.0272371 19.01151217-4.4574231 11.28939115-4.21960613 36.02611836-4.06638808 51.9788302.02443968 2.58765587.0469994 4.94419978.0469994 6.9746751 0 2.0705003-.0244397 4.47904147-.05169934 7.125385-.16167794 15.94883845-.41077476 40.53638164 4.07108802 51.82800292 3.52871496 8.79176213 10.27312886 15.53051288 19.0272371 19.01151217 11.29865576 4.45427528 36.05511971 4.2170598 52.0208159 4.0640024 2.59060692-.02476618 4.94903681-.04741962 6.98129087-.04741962 2.07173355 0 4.48186278.02441407 7.13074897.05117563 15.96193623.1616258 40.57082207.41069618 51.87229779-4.06775841zM141.57629262 46.62499061c0-6.6049429 5.35981157-11.96030837 11.96980719-11.96030837 6.6109356 0 11.97074718 5.35536546 11.97074718 11.96030837 0 6.64954552-5.35981158 11.960191-11.97074718 11.960191-6.65511504 0-11.9698072-5.3552481-11.9698072-11.960191zm-41.44971085 2.09749662c-28.40643736 0-51.31958485 22.89416973-51.31958485 51.27751277s22.9131475 51.2773954 51.31958485 51.2773954c28.40737735 0 51.32052484-22.89405236 51.32052484-51.2773954 0-28.38334304-22.9131475-51.27751277-51.32052484-51.27751277zm.00093999 84.61456299c-18.35796564 0-33.36487406-14.95032677-33.36487406-33.33705022s14.96272898-33.33705022 33.36487406-33.33705022c18.40120509 0 33.36393407 14.95032677 33.36393407 33.33705022s-15.00690842 33.33705022-33.36393407 33.33705022z"/>
                                </svg>
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <div class="si-icons si-pinterest">
                                <svg xmlns="http://www.w3.org/2000/svg" width="153.761" height="200" viewBox="0 0 153.761 200">
                                    <path fill="rgb(0,0,0)" fill-rule="evenodd" d="M81.68559574 0C40.60254612 0 0 27.36 0 71.64 0 99.8 15.85661564 115.8 25.46668573 115.8c3.96415391 0 6.24654556-11.04 6.24654556-14.16 0-3.72-9.48994421-11.64-9.48994421-27.12 0-32.16 24.50567872-54.96 56.21891001-54.96 27.26857387 0 47.44972106 15.48 47.44972106 43.92 0 21.24-8.5289372 61.08-36.1578887 61.08-9.97044772 0-18.49938493-7.2-18.49938493-17.52 0-15.12 10.5710771-29.76 10.5710771-45.36 0-26.48-37.59939922-21.68-37.59939922 10.32 0 6.72.84088114 14.16 3.84402804 20.28-5.5257903 23.76-16.81762266 59.16-16.81762266 83.64 0 7.56 1.08113289 15 1.80188815 22.56 1.3614266 1.52.6807133 1.36 2.76289515.6 20.18114718-27.6 19.46039192-33 28.5899585-69.12 4.92516093 9.36 17.6585038 14.4 27.74907738 14.4 42.52456014 0 61.62457444-41.4 61.62457444-78.72 0-39.72-34.35600056-65.64-72.07552566-65.64z"/>
                                </svg>
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <div class="si-icons si-twitter">
                                <svg xmlns="http://www.w3.org/2000/svg" width="246.508" height="200" viewBox="0 0 246.508 200">
                                    <path fill="rgb(0,0,0)" fill-rule="evenodd" d="M221.1692871 49.84356851c.1564752 2.18739555.1564752 4.37527205.1564752 6.56266759C221.3257623 123.12468587 170.4915397 200 77.58137322 200 48.95748298 200 22.36728905 191.71838966 0 177.34400739c4.06691113.46845278 7.9768656.62476403 12.20025194.62476403 23.61812783 0 45.35999749-7.9685069 62.72200559-21.56229484-22.21081384-.46893374-40.82414218-15.00010822-47.23721857-35.0002525 3.12854132.46845278 6.25660118.78107527 9.54161772.78107527 4.5358553 0 9.07219208-.62524499 13.29509696-1.7184618C27.37257 115.780943 10.01008044 95.46865719 10.01008044 70.93741057v-.62476403c6.72554535 3.75002706 14.54689866 6.09373384 22.83623322 6.40587538-13.6080474-9.06268562-22.5232828-24.53124662-22.5232828-42.03137287 0-9.37482715 2.502159-17.96857903 6.88202057-25.46863314C42.07498095 39.84349637 79.45811284 59.8431597 121.37661858 62.0310362c-.7818946-3.75002705-1.25132024-7.6558844-1.25132024-11.5622227C120.12529834 22.65599261 142.6490626 0 170.64705198 0c14.5464172 0 27.68503896 6.09373384 36.91370626 15.93749474 11.41787588-2.18739554 22.36680758-6.40635634 32.06490052-12.18746769-3.75444218 11.7190149-11.73130777 21.5627758-22.21081384 27.81233994 10.1670371-1.09321682 20.02112379-3.9063383 29.0928344-7.81219565-6.88105764 9.99959119-15.48430555 18.9054846-25.33839223 26.09339717z"/>
                                </svg>
                            </div>
                        </a>
                        <a href="javascript:void(0);">
                            <div class="si-icons si-linkedin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="200.21" height="200" viewBox="0 0 200.21 200">
                                    <path fill="rgb(0,0,0)" fill-rule="evenodd" d="M24.03831312 48.25556828C10.76568256 48.25556828 0 37.27311354 0 24.0139301 0 10.75134277 10.7628626 0 24.03831312 0c13.27639052 0 24.03831313 10.75134277 24.03831313 24.0139301 0 13.25918344-10.76944252 24.24163818-24.03831313 24.24163818zM158.74705342 200h41.46287067v-73.34982065c0-35.89371901-7.72200142-63.52820763-49.73006514-63.52820763-20.19564218 0-33.73146938 11.07165997-39.27363862 21.56301645h-.58091259V66.47021954H70.81587595V200h41.46287068v-66.11750676c0-17.41109995 3.30687779-34.24189641 24.88806228-34.24189641 21.2672285 0 21.5802445 19.86659123 21.5802445 35.35801814V200zm-113.93124554 0H3.30781778V66.47021954h41.5079901V200z"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feed-footer">
        <div class="image">
            <a href="javascript:void(0);">
                <img src="/dist/images/instagram1.jpg">
            </a>
        </div>
        <div class="image">
            <a href="javascript:void(0);">
                <img src="/dist/images/instagram2.jpg">
            </a>
        </div>
        <div class="image">
            <a href="javascript:void(0);">
                <img src="/dist/images/instagram3.jpg">
            </a>
        </div>
        <div class="image">
            <a href="javascript:void(0);">
                <img src="/dist/images/instagram4.jpg">
            </a>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="wrap">
                <div class="links">
                    <h2>
                        Contact
                    </h2>
                    <ul>
                        <li>
                            <a href="javascript:void(0);">
                                (0031) 412 - 639092
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                info@jessdesign.nl
                            </a>
                        </li>
                    </ul>
                    <h3>
                        Postadres
                    </h3>
                    <ul>
                        <li>
                            <a href="javascript:void(0);">
                                Postdbus 721 <br>
                                5340 AS Oss <br>
                                Nederland
                            </a>
                        </li>
                    </ul>
                    <h3>
                        Bezoekadres
                    </h3>
                    <ul>
                        <li>
                            Ketelmeer 12 <br>
                            5347 JX Oss <br>
                            Nederland
                        </li>
                    </ul>
                </div>

                <div class="links">
                    <h2>
                        Downloads
                    </h2>
                    <ul>
                        <li>
                            <a href="javascript:void(0);">
                                Brochure
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Outdoor brochure
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Projectgids
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Press kit
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Materialengids
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Algemene voorwaarden
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Privacy overeenkomst
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Sitemap
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="links">
                    <h2>
                        Links
                    </h2>
                    <ul>
                        <li>
                            <a href="javascript:void(0);">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Collecties
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Projecten
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Store locator
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Materialen
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Nieuws
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Over Jess
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                FAQ
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="links footer-nieuwsbrief">
                    <h2>
                        Blijf op de hoogte
                    </h2>
                    <p>
                        Meld je aan voor de nieuwsbrief en blijf op de hoogte van alles omtrend Jess Design.
                    </p>
                    <form>
                        <div>
                            <input type="text" id="aaaaaaaaa" name="aaaaaaaaa" placeholder="E-mailadres" required>
                        </div>
                                <div class="custom-submit">
                            <input type="submit" value="Verzenden">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</footer>