.ar-section-home {
    margin: 0;
    background-color: var(--color-gray-light);
    padding: 60px 0 0;

    & .ash-wrap {
        display: flex;
        flex-direction: column;

        & .ash-content {
            margin: 0 var(--half-gutter-width);
        }

        & .ash-image {

            & img {
                display: block;
                width: 100%;
            }
        }
    }
}

@media (--viewport-md-min) {
    .ar-section-home {
        margin: 0;
        background-color: var(--color-gray-light);
        padding: 0;
    
        & .ash-wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: var(--half-gutter-width);
    
            & .ash-content {
                align-self: center;
                width: 420px;
                margin: 60px 0 40px;
            }
    
            & .ash-image {
                width: calc(100% - 420px);
                padding-left: 40px;
                align-self: flex-end;
            }
        }
    }
}

@media (min-width: 1540px) {
    .ar-section-home {
    
        & .ash-wrap {
            margin-left: calc((100% - 1500px) / 2);
    
            & .ash-content {
                align-self: center;
                width: 520px;
                margin: 80px 0 60px;
            }
    
            & .ash-image {
                width: calc(100% - 520px);
                padding-left: 80px;
            }
        }
    }
}