<div class="module-form">

    <h2>
        Umbraco Forms
    </h2>
    <h3>
        Enkel een voorbeeld
    </h3>

    <form action="">
        <fieldset>
            <div>
                <label for="aaaaaaaaa">Naam</label>
            </div>
            <div>
                <input type="text" id="aaaaaaaaa" name="aaaaaaaaa" required>
            </div>

            <div>
                <label for="bbbbbbbbb">Telefoon</label>
            </div>
            <div>
                <input type="tel" id="bbbbbbbbb" name="bbbbbbbbb" required>
            </div>

            <div>
                <label for="ccccccccc">Email</label>
            </div>
            <div>
                <input type="email" id="ccccccccc" name="ccccccccc" required>
            </div>

            <div>
                <label for="ddddddddd">Textarea</label>
            </div>
            <div>
                <textarea id="ddddddddd" name="ddddddddd" style="height: 200px"
                    placeholder="Vraag of opmerking voor de specialist"></textarea>
            </div>
            <div class="custom-submit">
                <input type="submit" value="Verzenden">
            </div>
        </fieldset>
    </form>

</div>