<section class="product-pagina-hero">
    <div class="wrap">
        <div class="images">
            <div class="carousel carousel-main" data-flickity='{ "contain": true, "pageDots": false, "imagesLoaded": true, "fade": true, "arrowShape": "M37.76,91.17,50,80.68l-20.57-24H98V43H29.43L50,19,37.76,8.9,2,49.82Z" }'>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productsfeer66.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productschuin66.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productvoor66.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productzij66.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productachter66.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/instagram2.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productsfeer.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productschuin.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productvoor.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productzij.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productachter.jpg" alt="stoel">
                    </div>
                </div>
            </div>
            <div class="carousel carousel-nav"
                data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "imagesLoaded": true, "prevNextButtons": false }'>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productsfeer66.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productschuin66.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productvoor66.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productzij66.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productachter66.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/instagram2.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productsfeer.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productschuin.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productvoor.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productzij.jpg" alt="stoel">
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="cc-wrap">
                        <img src="/dist/images/productachter.jpg" alt="stoel">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <h1 class="pph-h1">
                Earl
            </h1>
            <p class="pph-p">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab eum voluptates adipisci? Reprehenderit cum, et consequatur error tenetur eos eaque facere modi quisquam nihil laudantium rerum. Perspiciatis vitae ducimus vero!
            </p>
            <ul class="pph-ul">
                <li>
                    <span>Afmeting (BxDxH): </span>
                    85x86x72
                </li>
                <li>
                    <span>Zithoogte: </span>
                    43 cm
                </li>
                <li>
                    <span>Designer: </span>
                    Rober Bronwasser
                </li>
            </ul>

            <div class="pph-accordion">
                <div class="module-accordeon">
                    <button class="accordion">Materials</button>
                    <div class="panel">
                        <div class="product-pagina-accordion">
                            <p>
                                <strong>Structure interior:</strong> Frame made of solid wood.<br>
                                <strong>Structure padding:</strong> High resilient variable density polyurethane foam.<br>
                                <strong>Seat cushion:</strong> High resilient variable density polyurethane foam. Wrap of fiber-fill on top.<br>
                                <strong>Back:</strong> High resilient variable density polyurethane foam. Wrap of fiber-fill on top.<br>
                                <strong>Cover:</strong> Fixed.<br>
                                <strong>Legs:</strong> Walnut
                            </p>
                        </div>
                    </div>
                </div>

                <div class="module-accordeon">
                    <button class="accordion">Augmented reality</button>
                    <div class="panel">
                        <div class="product-pagina-accordion">
                            <p>
                                Augmented reality is alleen beschikbaar op mobiel
                            </p>
                            <p>
                                <a href="javascript:void(0);" class="button">
                                    Bekijk
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="module-accordeon">
                    <button class="accordion">Downloads</button>
                    <div class="panel">
                        <div class="product-pagina-accordion">
                            <p>
                                <a href="javascript:void(0);">
                                    Download productsheet
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pph-store-locator">
                <a href="javascript:void(0);" class="fancy-link">
                    Ontdekken
                    <span class="fancy-arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="17" viewBox="0 0 44 17">
                            <path fill="rgb(16,24,32)" fill-rule="evenodd" d="M34.9529991 0l-.4670481.47602922c-.30951596.31551244-.30951596.82709236 0 1.14267213l5.54354577 5.61835677H.79261449C.35489314 7.23705812 0 7.59882686 0 8.0450285v.67330866c0 .44620164.35489314.80797039.7926145.80797039h39.23688227L34.485951 15.14466433c-.30951596.31551243-.30951596.82709235 0 1.14267212l.4670481.47602922c.30951595.31551244.81137303.31551244 1.12088899 0l7.69397494-7.81038044c.30951596-.31551243.30951596-.82709235 0-1.14267212L36.07388809 0c-.30951596-.31557977-.81137304-.31557977-1.120889 0z"/>
                        </svg>
                    </span>
                </a>
            </div>
            
            <div class="pph-social-share">
                <div class="social-icons">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.google.com" target="_blank">
                        <div class="si-icons si-facebook">
                            <svg xmlns="http://www.w3.org/2000/svg" width="107.23" height="200" viewBox="0 0 107.23 200">
                                <path fill="rgb(0,0,0)" fill-rule="evenodd" d="M100.20265543 112.5l5.56051419-36.1953125H70.99626974V52.81640625c0-9.90234375 4.85665163-19.5546875 20.4276555-19.5546875h15.8056247V2.4453125S92.88639521 0 79.17280642 0c-28.6315646 0-47.34648788 17.3359375-47.34648788 48.71875v27.5859375H0V112.5h31.82631854V200h39.1699512v-87.5h29.2063857z"/>
                            </svg>
                        </div>
                    </a>
                    <a href="mailto:?Subject=Jess Design&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://www.google.com">
                        <div class="si-icons si-mail">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-envelope fa-w-16 fa-10x">
                                <path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z" class=""></path>
                            </svg>
                        </div>
                    </a>
                    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                        <div class="si-icons si-pinterest">
                            <svg xmlns="http://www.w3.org/2000/svg" width="153.761" height="200" viewBox="0 0 153.761 200">
                                <path fill="rgb(0,0,0)" fill-rule="evenodd" d="M81.68559574 0C40.60254612 0 0 27.36 0 71.64 0 99.8 15.85661564 115.8 25.46668573 115.8c3.96415391 0 6.24654556-11.04 6.24654556-14.16 0-3.72-9.48994421-11.64-9.48994421-27.12 0-32.16 24.50567872-54.96 56.21891001-54.96 27.26857387 0 47.44972106 15.48 47.44972106 43.92 0 21.24-8.5289372 61.08-36.1578887 61.08-9.97044772 0-18.49938493-7.2-18.49938493-17.52 0-15.12 10.5710771-29.76 10.5710771-45.36 0-26.48-37.59939922-21.68-37.59939922 10.32 0 6.72.84088114 14.16 3.84402804 20.28-5.5257903 23.76-16.81762266 59.16-16.81762266 83.64 0 7.56 1.08113289 15 1.80188815 22.56 1.3614266 1.52.6807133 1.36 2.76289515.6 20.18114718-27.6 19.46039192-33 28.5899585-69.12 4.92516093 9.36 17.6585038 14.4 27.74907738 14.4 42.52456014 0 61.62457444-41.4 61.62457444-78.72 0-39.72-34.35600056-65.64-72.07552566-65.64z"/>
                            </svg>
                        </div>
                    </a>
                    <a href="https://twitter.com/share?url=https://google.com&amp;text=Jess%20Design&amp;hashtags=jessdesign" target="_blank">
                        <div class="si-icons si-twitter">
                            <svg xmlns="http://www.w3.org/2000/svg" width="246.508" height="200" viewBox="0 0 246.508 200">
                                <path fill="rgb(0,0,0)" fill-rule="evenodd" d="M221.1692871 49.84356851c.1564752 2.18739555.1564752 4.37527205.1564752 6.56266759C221.3257623 123.12468587 170.4915397 200 77.58137322 200 48.95748298 200 22.36728905 191.71838966 0 177.34400739c4.06691113.46845278 7.9768656.62476403 12.20025194.62476403 23.61812783 0 45.35999749-7.9685069 62.72200559-21.56229484-22.21081384-.46893374-40.82414218-15.00010822-47.23721857-35.0002525 3.12854132.46845278 6.25660118.78107527 9.54161772.78107527 4.5358553 0 9.07219208-.62524499 13.29509696-1.7184618C27.37257 115.780943 10.01008044 95.46865719 10.01008044 70.93741057v-.62476403c6.72554535 3.75002706 14.54689866 6.09373384 22.83623322 6.40587538-13.6080474-9.06268562-22.5232828-24.53124662-22.5232828-42.03137287 0-9.37482715 2.502159-17.96857903 6.88202057-25.46863314C42.07498095 39.84349637 79.45811284 59.8431597 121.37661858 62.0310362c-.7818946-3.75002705-1.25132024-7.6558844-1.25132024-11.5622227C120.12529834 22.65599261 142.6490626 0 170.64705198 0c14.5464172 0 27.68503896 6.09373384 36.91370626 15.93749474 11.41787588-2.18739554 22.36680758-6.40635634 32.06490052-12.18746769-3.75444218 11.7190149-11.73130777 21.5627758-22.21081384 27.81233994 10.1670371-1.09321682 20.02112379-3.9063383 29.0928344-7.81219565-6.88105764 9.99959119-15.48430555 18.9054846-25.33839223 26.09339717z"/>
                            </svg>
                        </div>
                    </a>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.google.com" target="_blank">
                        <div class="si-icons si-linkedin">
                            <svg xmlns="http://www.w3.org/2000/svg" width="200.21" height="200" viewBox="0 0 200.21 200">
                                <path fill="rgb(0,0,0)" fill-rule="evenodd" d="M24.03831312 48.25556828C10.76568256 48.25556828 0 37.27311354 0 24.0139301 0 10.75134277 10.7628626 0 24.03831312 0c13.27639052 0 24.03831313 10.75134277 24.03831313 24.0139301 0 13.25918344-10.76944252 24.24163818-24.03831313 24.24163818zM158.74705342 200h41.46287067v-73.34982065c0-35.89371901-7.72200142-63.52820763-49.73006514-63.52820763-20.19564218 0-33.73146938 11.07165997-39.27363862 21.56301645h-.58091259V66.47021954H70.81587595V200h41.46287068v-66.11750676c0-17.41109995 3.30687779-34.24189641 24.88806228-34.24189641 21.2672285 0 21.5802445 19.86659123 21.5802445 35.35801814V200zm-113.93124554 0H3.30781778V66.47021954h41.5079901V200z"/>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>