.product-pagina-hero {
    margin: 0;

    & .wrap {
      display: flex;
      flex-direction: column;
  
      & .images {
        width: 100%;
  
        & .carousel {

          &:hover {
            
            & .flickity-button {
              opacity: 1;

              &:disabled {
                opacity: .1;
                cursor: auto;
                pointer-events: none;
              }
            }
          }
  
          & .carousel-cell {
            width: 100%;
            
            & img {
              display: block;
              width: 100%;
            }
          }

          & .flickity-button {
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.75);
            color: #fff;
            border-radius: 0;
            transition: .3s;
            width: 32px;
            height: 32px;

            &:disabled {
                opacity: .3;
                cursor: auto;
                pointer-events: none;
            }
          }
        }
  
        & .carousel-main {
          width: 100%;
  
          & .carousel-cell {
            width: 100%;
  
            &:nth-child(1) .cc-wrap img {
              object-fit: cover;
            }
  
            & .cc-wrap {
              position: relative;
              padding-top: 66%;
              top: 0;
              left: 0;
              width: 100%;
              
              & img {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
  
        & .carousel-nav.carousel {
          width: 100%;
          padding: 10px;

          & .flickity-slider {

            &:hover {

              & .carousel-cell .cc-wrap img {
                opacity: 0.5;
              }
            }

            & .carousel-cell .cc-wrap img:hover {
              opacity: 1;
            }
          }
  
          & .carousel-cell {
            cursor: pointer;
            width: 20%;
  
            & .cc-wrap {
              position: relative;
              top: 0;
              left: 0;
              width: 100%;
              padding-top: 66%;
              
              & img {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .3s;
              }
            }
          }
        }
      }
  
      & .content {
        width: 100%;
        background-color: var(--color-light-green);
        padding: 40px 30px;
  
        & h1.pph-h1 {
  
        }
  
        & p.pph-p {
  
        }
  
        & ul.pph-ul {
          list-style-type: none;
          padding: 0;
  
          & li {
  
            & span {
              font-weight: 700;
            }
          }
        }
  
        & .pph-accordion {
  
          & .module-accordeon {
  
            & .accordion {
              text-transform: uppercase;
            }
    
            & .panel {
    
              & .product-pagina-accordion {
                padding-bottom: 22px;
              }
            }
          }
        }
  
        & .pph-store-locator {
          margin: 40px 0;
  
          & .fancy-link {
            color: var(--color-black);
  
            & .fancy-arrow svg path {
              fill: var(--color-black);
            }
          }
        }
  
        & .pph-social-share {
          margin: 0 -6px;
          
          & .social-icons {
            justify-content: left;
  
            & .si-icons {
              width: 36px;
              height: 36px;
              margin: 0 6px;
    
              & svg {
                padding: 8px;
              }
            }
          }
        }
      }
    }
}
  
@media (--viewport-md-min) {
    .product-pagina-hero {
  
      & .wrap {
        display: flex;
        flex-direction: row;
    
        & .images {
          width: 55%;

          & .carousel {

            & .flickity-button {
              width: 44px;
              height: 44px;
            }
          }
  
          & .carousel-nav.carousel {
            padding: 16px;
          }
        }
  
        & .content {
          width: 45%;
          padding: 100px 30px;
        }
      }
    }
}
  
@media (--viewport-lg-min) {
    .product-pagina-hero {
  
      & .wrap {
    
        & .images {
          width: 60%;
  
          & .carousel-nav.carousel {
            padding: 20px;
          }
        }
  
        & .content {
          width: 40%;
          padding: 120px 60px;
        }
      }
    }
}
  
@media (--viewport-xl-min) {
    .product-pagina-hero {
  
      & .wrap {
  
        & .content {
          padding: 140px 110px;
        }
      }
    }
}