{{render '@header'}}

{{render '@section-page-title'}}

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <div class="module-rich-text">
                    <h2>
                        Lorem ipsum dolor sit amet, 
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, harum beatae? Obcaecati quas ducimus vel nulla? Neque reprehenderit voluptate nihil temporibus eius tenetur. Corrupti ratione aperiam corporis accusamus ea deleniti.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, harum beatae? Obcaecati quas ducimus vel nulla? Neque reprehenderit voluptate nihil temporibus eius tenetur. Corrupti ratione aperiam corporis accusamus ea deleniti.
                    </p>
                    <h2>
                        Lorem ipsum dolor sit amet, 
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, harum beatae? Obcaecati quas ducimus vel nulla? Neque reprehenderit voluptate nihil temporibus eius tenetur. Corrupti ratione aperiam corporis accusamus ea deleniti.
                    </p>
                    <h2>
                        Lorem ipsum dolor sit amet, 
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, harum beatae? Obcaecati quas ducimus vel nulla? Neque reprehenderit voluptate nihil temporibus eius tenetur. Corrupti ratione aperiam corporis accusamus ea deleniti.
                    </p>
                    <p>
                        <img src="https://via.placeholder.com/800x600/FF0000"  alt="" width="800" height="600">
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{{render '@footer'}}