{{render '@header'}}

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <div class="module-rich-text">
                    <h1>
                        404: Pagina niet gevonden
                    </h1>
                    <p>
                        De pagina waar je naar op zoek was bestaat niet (meer) of is wellicht verplaatst.
                        Als u vragen hebt kun je <a href="/contact/">contact</a> met ons opnemen
                    </p>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-7">
                        <p>
                            Of probeer een van deze links:<br>
                            <a href="/">Home</a><br>
                            <a href="/zoeken/">Zoeken</a><br>
                            <a href="/diensten/">Diensten</a><br>
                            <a href="/over-ons/">Over ons</a><br>
                            <a href="/algemene-voorwaarden/">Algemene voorwaarden</a><br>
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <p>
                            <img src="/dist/images/error-robot.png" width="220">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{render '@footer'}}