.page-title {
    margin: 0;
    background: var(--color-light-green);
    text-align: center;

    & .container {
    
        & .content {
            max-width: 1000px;
            margin: 0 auto;
            padding: 80px 0 40px;
    
            & h1 {
                margin: 0;
            }
        }
    }
}

@media (--viewport-md-min) {
    .page-title {
    
        & .container {
        
            & .content {
                padding: 74px 0;
            }
        }
    }
}