<div class="dropdown-menu">
  <a class="dropbtn">
    Banken
  </a>
  <div class="dropdown-content">
    <a href="#">Stoelen</a>
    <a href="#">Barstoelen</a>
    <a href="#" class="active">Banken</a>
    <a href="#">Eetbanken</a>
    <a href="#">Fauteuils</a>
    <a href="#">Outdoor</a>
    <a href="#">Tafels</a>
    <a href="#">Hockers</a>
    <a href="#">Kussens</a>
    <a href="#">Restproducten</a>
  </div>
</div>