<div class="module-tabs">
    <div class="tab">
        <button class="tablinks" data-tab="london">London</button>
        <button class="tablinks" data-tab="paris">Paris</button>
        <button class="tablinks" data-tab="tokyo">Tokyo</button>
        



        <button class="tablinks" data-tab="madrid">Madrid</button>
        <button class="tablinks" data-tab="rome">Rome</button>
        <button class="tablinks" data-tab="milan">Milan</button>
        <button class="tablinks" data-tab="berlin">Berlin</button>
        <button class="tablinks" data-tab="newyork">New York</button>
        <button class="tablinks" data-tab="eindhoven">Eindhoven</button>
    </div>

    <div class="tabcontent" data-tabcontent="london">
        <div class="content">
            <h3>London</h3>
            <p>London is the capital city of England.</p>
        </div>
    </div>

    <div class="tabcontent" data-tabcontent="paris">
        <div class="content">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
            <ul>
                <li>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id illo eius voluptatem itaque unde tenetur tempore, sit aperiam veniam sapiente nostrum ullam, possimus odio, similique sint eaque minus dolorum aliquam.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum quibusdam ex eveniet rem dolor quisquam numquam totam dolorum vitae quia, asperiores eius, nobis minus laudantium sunt debitis, quo ad. Corporis.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit obcaecati veniam itaque, ratione quis minus magni doloremque saepe! Rerum cumque nihil dolorem eaque voluptatem iusto molestiae nisi nostrum ullam error?
                </li>
            </ul>
        </div>
    </div>

    <div class="tabcontent" data-tabcontent="tokyo">
        <div class="content">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
        </div>
    </div>








    <div class="tabcontent" data-tabcontent="madrid">
        <div class="content">
            <h3>Test Madrid</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime consequatur dicta officiis! Voluptas quis quae unde ducimus molestiae saepe. Ad tempore quod vel, enim repudiandae nam sequi quaerat aspernatur unde?</p>
        </div>
    </div>
    <div class="tabcontent" data-tabcontent="rome">
        <div class="content">
            <h3>Test Rome</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime consequatur dicta officiis! Voluptas quis quae unde ducimus molestiae saepe. Ad tempore quod vel, enim repudiandae nam sequi quaerat aspernatur unde?</p>
        </div>
    </div>
    <div class="tabcontent" data-tabcontent="milan">
        <div class="content">
            <h3>Test Milan</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime consequatur dicta officiis! Voluptas quis quae unde ducimus molestiae saepe. Ad tempore quod vel, enim repudiandae nam sequi quaerat aspernatur unde?</p>
        </div>
    </div>
    <div class="tabcontent" data-tabcontent="berlin">
        <div class="content">
            <h3>Test Berlin</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime consequatur dicta officiis! Voluptas quis quae unde ducimus molestiae saepe. Ad tempore quod vel, enim repudiandae nam sequi quaerat aspernatur unde?</p>
        </div>
    </div>
    <div class="tabcontent" data-tabcontent="newyork">
        <div class="content">
            <h3>Test New York</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime consequatur dicta officiis! Voluptas quis quae unde ducimus molestiae saepe. Ad tempore quod vel, enim repudiandae nam sequi quaerat aspernatur unde?</p>
        </div>
    </div>
    <div class="tabcontent" data-tabcontent="eindhoven">
        <div class="content">
            <h3>Test Eindhoven</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime consequatur dicta officiis! Voluptas quis quae unde ducimus molestiae saepe. Ad tempore quod vel, enim repudiandae nam sequi quaerat aspernatur unde?</p>
        </div>
    </div>
</div>