<div class="module-tile">
    <a href="javascript:void(0);">
        <div class="content">
            <figure>
                <img src="https://via.placeholder.com/800x600" alt="alt foto">
            </figure>
            <div class="wrap">
                <h2>
                    Titel
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dicta quidem ratione, temporibus assumenda cupiditate enim in adipisci aut? Vitae, aperiam non id voluptas deserunt itaque voluptatibus officia quam deleniti!
                </p>
                <span>Lees verder <i class="fas fa-long-arrow-alt-right"></i></span>
            </div>
        </div>
    </a>
</div>