{{render '@header'}}

{{!-- {{render '@page-hero'}} --}}
<section class="page-hero">
    <div class="wrap">
        <div class="images">
            <figure>
                <picture>
                    <source media="(min-width:992px)" srcset="/dist/images/productsfeer66.jpg">
                    <source media="(min-width:768px)" srcset="/dist/images/productsfeer66.jpg">
                    <img src="/dist/images/productsfeer66.jpg" alt="Flowers">
                </picture>
            </figure>
        </div>
        <div class="ph-wrap">
            <div class="content">
                <span class="super-heading">
                    Say Jess
                </span>
                <h2 class="default-heading">
                    <span class="orange-text">Contact</span> gegevens
                </h2>
                <div class="default-content">
                    <p>
                        Neem contact op om een afspraak te maken in de showroom
                    </p>
                    <p>
                        +31 412-639092
                        info@jessdesign.nl
                    </p>
                    <p>
                        <strong>
                            Postal address
                        </strong><br>
                        Postbus 721<br>
                        5340 AS Oss<br>
                        The Netherlands
                    </p>
                    <p>
                        <strong>
                            Address
                        </strong><br>
                        Ketelmeer 12<br>
                        5347 JX Oss<br>
                        The Netherlands
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- {{render '@cta-big'}} --}}
<section class="cta-big cb-background-white">
    <div class="ctab-wrap">
        <div class="ctab-content">
            <h2>
                Met Jess zijn de mogelijkheden eindeloos. Stel daarom je vraag.
            </h2>
            <div>
                <form>
                    <div>
                        <input type="text" id="aaaaaaaaa" name="aaaaaaaaa" placeholder="Naam" required>
                    </div>
                    <div>
                        <input type="text" id="aaaaaaaaa" name="aaaaaaaaa" placeholder="E-mail" required>
                    </div>
                    <div>
                        <input type="text" id="aaaaaaaaa" name="aaaaaaaaa" placeholder="Telefoonnummer" required>
                    </div>
                    <div>
                        <input type="text" id="aaaaaaaaa" name="aaaaaaaaa" placeholder="Bedrijf" required>
                    </div>
                    <div>
                        <textarea id="ddddddddd" name="ddddddddd" style="height: 200px"
                            placeholder="Bericht"></textarea>
                    </div>
                    <div class="custom-checkbox">
                        <input type="checkbox" id="zzzzzzzzz" name="zzzzzzzzz" required>
                        <label for="zzzzzzzzz">Ik ga akkoord</label>
                    </div>
                    <div class="custom-submit">
                        <input type="submit" value="Verzenden">
                    </div>
                </form>
            </div>
        </div>
        <div class="ctab-image">
            <picture>
                <source media="(min-width:992px)" srcset="/dist/images/projectpaginacta.png">
                <source media="(min-width:768px)" srcset="/dist/images/projectpaginacta.png">
                <img src="/dist/images/projectpaginacta.png" alt="Flowers">
            </picture>
        </div>
    </div>
</section>

<section class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2468.6439910104646!2d5.552798615978999!3d51.776115198840685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6fda9ce75c0b9%3A0xb8bfc2adcfec24b2!2sJess%20Design!5e0!3m2!1snl!2snl!4v1605775614762!5m2!1snl!2snl" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>



{{render '@footer'}}