<div class="blog-tile">
    <a href="javascript:void(0);">
        <div class="content">
            <figure>
                <img src="https://via.placeholder.com/800x800" alt="alt foto">
            </figure>
            <div class="wrap">
                <h2>
                    Honden houden van Jess
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, fuga dolorum accusantium maxime placeat molestiae tenetur suscipit.
                </p>
            </div>
        </div>
    </a>
</div>