<div class="module-icon-text">
    <div class="content">
        <figure>
            <img src="https://via.placeholder.com/300/" alt="icon">
        </figure>
        <h3>
            lorem ipsum jo
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam exercitationem laborum ipsum et natus est pariatur quam rerum blanditiis alias tempore eius aspernatur amet inventore, ratione ex voluptas. Eius, doloremque?
        </p>
        <a href="javascript:void(0);" class="button">Klik op mij</a>
    </div>
</div>